<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Home</h1>
    <nav class="nav">
        <a th:href="@{/products}" class="nav-link">Products List</a>
        <div th:each="category : ${categories}">
            <a th:href="@{/detail/category/{category}(category=${category})}" class="nav-link" th:text="${category}"></a>
        </div>
    </nav>
</div>
</body>
</html>
